services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3009:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
